body,
html {
  margin: 0;
  padding: 0;
}
@font-face {
  src: url('../fonts/CTCSplashRounded.otf');
  font-family: "SplashRounded";
}
@font-face {
  src: url('../fonts/DINPro-Medium.otf');
  font-family: "DINPro";
}
header {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 64px;
  width: 100%;
  margin: auto;
  background: #2f2e2e;
}
header #inside_header {
  width: 980px;
  height: inherit;
  margin: 0 auto;
}
header #inside_header ul {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 150px;
  height: 100%;
}
header #inside_header ul li {
  display: inline-block;
  height: inherit;
  margin: 0 10px;
  flex-grow: 1;
}
header #inside_header ul li a {
  display: block;
  width: inherit;
  height: inherit;
  text-align: center;
  font-size: 15px;
  line-height: 3rem;
  font-family: "SplashRounded", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
}
header #inside_header ul li a:hover {
  color: #b0aaa9;
  transition: color 0.4s ease 0s;
}
.logo {
  position: relative;
  width: 138px;
  height: 138px;
  margin: auto;
  box-sizing: border-box;
  border: solid #ffffff 3px;
  border-radius: 50%;
}
.logo > .line_box .l_r {
  position: absolute;
  height: 3px;
  width: 32px;
  background: #ffffff;
}
.logo > .line_box .l_r:first-child {
  top: 50%;
  left: 10px;
}
.logo > .line_box .l_r:last-child {
  top: 50%;
  right: 10px;
}
.logo .repair_logo {
  width: 100%;
  height: 100%;
  background: url("../images/logo.svg") no-repeat center;
  background-size: 80%;
}
h1,
h2,
h3 {
  color: #fff;
  font-family: "DINPro", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
}
.line {
  height: 3px;
  width: 36px;
  margin: 0 auto 60px;
}
h1 {
  font-size: 68px;
  font-weight: bolder;
  margin: 0 auto 10px;
}
h1 a {
  color: #fff;
}
h2 {
  font-size: 34px;
  font-weight: 100;
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  font-weight: 100;
}
a {
  text-decoration: none;
}
#container {
  width: 100%;
  background: #ffffff;
}
#container #background {
  position: absolute;
  width: 100%;
}
#container #background #bg_main {
  background: url("../images/main_header.jpg") no-repeat fixed center 10%;
  background-size: cover;
  width: 100%;
  height: 1000px;
}
#container #background #bg_services {
  background: url("../images/bg_services.webp");
  background-size: cover;
  width: 100%;
  min-height: 700px;
}
#container #inside_container #main {
  position: relative;
  box-sizing: border-box;
  width: 860px;
  height: 1000px;
  margin: auto;
  padding: 110px 100px 30px;
}
#container #inside_container #main em {
  display: block;
  width: 100%;
  font-family: "DINPro", Arial, Helvetica, sans-serif;
  color: #fff;
  font-style: normal;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 8px;
}
#container #inside_container #main .social {
  position: absolute;
  width: 100%;
  text-align: center;
  right: 0;
  bottom: 0;
  margin: 50px auto;
}
#container #inside_container #main .social a {
  margin: 0 5px;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  text-stroke: 1px #ffffff;
  text-shadow: 0 0 20px #ffffff;
  font-size: 38px;
}
#container #inside_container #main .social a:hover {
  text-shadow: 0 0 20px #b3b3b3;
}
#container #inside_container #services {
  box-sizing: border-box;
  width: 860px;
  margin: 0 auto 50px;
  padding: 110px 50px 30px;
  position: relative;
}
#container #inside_container #services .line {
  background: #ffffff;
}
#container #inside_container #services .three_line {
  display: flex;
  justify-content: space-between;
}
#container #inside_container #services .three_line .skills {
  box-sizing: border-box;
  padding: 0 10px;
  width: 33%;
  display: inline-block;
}
#container #inside_container #services .three_line .skills .skills_logo {
  position: relative;
  display: flex;
  width: 125px;
  height: 125px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  border: solid 3px #ffffff;
}
#container #inside_container #services .three_line .skills .skills_logo img {
  margin: auto;
  width: 65%;
}
#container #inside_container #services .three_line .skills > p {
  font-family: "SplashRounded", Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 24px;
}
#container #inside_container #work {
  width: 100%;
  padding: 50px 0 30px;
}
#container #inside_container #work .line {
  background: #2f2e2e;
}
#container #inside_container #work h2 {
  color: #2f2e2e;
}
#container #inside_container #work p {
  font-family: "SplashRounded", Arial, Helvetica, sans-serif;
  color: #2f2e2e;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 24px;
  margin: -40px 0 0 0;
}
#container #inside_container #work .min_img_box {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 50px 0 100px 0;
}
#container #inside_container #work .min_img_box .min_img {
  position: relative;
  width: calc(33.33333333%);
  box-sizing: border-box;
  line-height: 0;
}
#container #inside_container #work .min_img_box .min_img img {
  width: 100%;
  transition: filter 1s ease-out;
}
#container #inside_container #work .min_img_box .min_img img:hover {
  cursor: pointer;
  filter: grayscale(100%) sepia(100%);
}
#container #inside_container #about_us {
  background: url("../images/bg_about.webp");
  box-sizing: border-box;
  padding: 100px 0;
}
#container #inside_container #about_us .description_us {
  background: #ffffff;
  width: 661px;
  margin: auto;
  box-sizing: border-box;
  padding: 60px 100px;
}
#container #inside_container #about_us .description_us .line {
  background: #2f2e2e;
}
#container #inside_container #about_us .description_us h2 {
  color: #2f2e2e;
}
#container #inside_container #about_us .description_us p {
  font-family: "SplashRounded", Arial, Helvetica, sans-serif;
  color: #2f2e2e;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 24px;
  margin-bottom: 50px;
}
#container #inside_container .fon_line {
  background: url("../images/fon_line.webp") no-repeat fixed center 50%;
  background-size: cover;
  height: 500px;
  width: 100%;
}
#container #inside_container #contact_us {
  background: url("../images/bg_about.webp");
  padding: 70px 0;
}
#container #inside_container #contact_us #form_us_img {
  background: url("../images/contact.png") no-repeat center top;
  padding-top: 230px;
}
#container #inside_container #contact_us #form_us_img #form_us {
  height: 500px;
  width: 661px;
  margin: auto;
  background: #ffffff;
  box-sizing: border-box;
  padding: 30px;
}
#container #inside_container #contact_us #form_us_img #form_us .line {
  background: #2f2e2e;
}
#container #inside_container #contact_us #form_us_img #form_us h2 {
  color: #2f2e2e;
}
#container #inside_container #contact_us #form_us_img #form_us .media {
  width: 100%;
}
#container #inside_container #contact_us #form_us_img #form_us .media > div,
#container #inside_container #contact_us #form_us_img #form_us .media form {
  width: 49%;
}
#container #inside_container #contact_us #form_us_img #form_us .media .left {
  float: left;
  padding-left: 40px;
  box-sizing: border-box;
}
#container #inside_container #contact_us #form_us_img #form_us .media .left p,
#container #inside_container #contact_us #form_us_img #form_us .media .left a {
  font-family: "DINPro", Arial, Helvetica, sans-serif;
  color: #2f2e2e;
  text-align: left;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 0 0 20px;
}
#container #inside_container #contact_us #form_us_img #form_us .media .left a {
  display: inline-block;
}
#container #inside_container #contact_us #form_us_img #form_us .media .right {
  float: right;
  padding-right: 40px;
  box-sizing: border-box;
}
#container #inside_container #contact_us #form_us_img #form_us .media form input[type="text"],
#container #inside_container #contact_us #form_us_img #form_us .media form input[type="email"] {
  width: 100%;
  height: 28px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  font-family: "DINPro", Arial, Helvetica, sans-serif;
  color: #2f2e2e;
  text-align: left;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 24px;
}
#container #inside_container #contact_us #form_us_img #form_us .media form textarea {
  width: 100%;
  height: 128px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  resize: none;
  font-family: "DINPro", Arial, Helvetica, sans-serif;
  color: #2f2e2e;
  text-align: left;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 24px;
}
#container #inside_container #contact_us #form_us_img #form_us .media form input[type="submit"] {
  width: 40%;
  height: 32px;
  padding: 5px;
  box-sizing: border-box;
  display: block;
  margin: 0 0 0 auto;
  font-family: "DINPro", Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 24px;
  background: #2f2e2e;
  outline: none;
  border: none;
  transition: 1s;
}
#container #inside_container #contact_us #form_us_img #form_us .media form input[type="submit"]:hover {
  color: #b0aaa9;
  box-shadow: inset 0 0 10px #b0aaa9;
  cursor: pointer;
}
#container .main_footer {
  background: #2f2e2e;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}
#container .main_footer .social {
  width: 100%;
  text-align: center;
  right: 0;
  bottom: 0;
  margin: 25px auto;
}
#container .main_footer .social a {
  margin: 0 5px;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  text-stroke: 1px #ffffff;
  text-shadow: 0 0 20px #ffffff;
  font-size: 38px;
}
#container .main_footer .social a:hover {
  text-shadow: 0 0 20px #b3b3b3;
}
#container .main_footer p {
  font-family: "DINPro", Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 0 0 20px;
}
